{% extends 'base.html'%}

{% block title %}
Contact -
{% endblock %}


{% block content%}

<main id="main">
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container">

    <div class="section-title">
      <h2>Contact</h2>
      <p>If you have any questions, feel free to reach out. I'm always open to discussing new projects, creative ideas, or opportunities to be part of your visions.</p>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {%for category, message in messages%}
                  <div class="alert alert-{{category}}" role="alert" id="flash-message">
                    {{message}}
                  </div>
                {% endfor %}
            {% endif %}
    {% endwith %}

    <div class="row" data-aos="fade-in">

      <div class="col-lg-5 d-flex align-items-stretch">
        <div class="info">
          <div class="address">
            <i class="bi bi-geo-alt"></i>
            <h4>Location:</h4>
            <p>{{personal_data['contact'].address}}</p>
          </div>

          <div class="email">
            <i class="bi bi-envelope"></i>
            <h4>Email:</h4>
            <p>{{personal_data.email}}</p>
          </div>

          <div class="phone">
            <i class="bi bi-phone"></i>
            <h4>Call:</h4>
            <p>{{personal_data.phone}}</p>
          </div>

          <iframe src="{{personal_data['contact'].address_map_link}}" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
        </div>

      </div>
      

      <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
        
        <form action="{{ url_for('contact') }}" method="post" role="form" class="php-email-form">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="name" >Your Name</label>
              <input type="text" name="name" class="form-control" id="name" required>
            </div>
            <div class="form-group col-md-6">
              <label for="name">Your Email</label>
              <input type="email" class="form-control" name="email" id="email" required>
            </div>
          </div>
          <div class="form-group">
            <label for="name">Your Mobile Phone</label>
            <br>
            <input type="tel" class="form-control" name="mobile_phone" id="mobile_phone">
          </div>
          <div class="form-group">
            <label for="name">Subject</label>
            <input type="text" class="form-control" name="subject" id="subject" required>
          </div>
          <div class="form-group">
            <label for="name">Your Message</label>
            <textarea class="form-control" name="message" rows="10" required></textarea>
          </div>
          <div class="text-center"><button type="submit">Send Message</button></div>
        </form>
      </div>

    </div>

  </div>
</section><!-- End Contact Section -->

</main>

{% endblock %}