{% extends 'base.html'%}


  {%block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>{{personal_data.full_name}}</h1>
      <p>I'm <span class="typed" data-typed-items="{{personal_data.data_typed_items}}"></span></p>
      <p class="fs-5">Read more <a class="btn btn-light btn-1" href="{{url_for('about')}}">about me</a> or <a class="btn btn-light btn-1" href="{{url_for('contact')}}">contact me</a></p>
    </div>
  </section><!-- End Hero -->
  <!--  -->


{% endblock %}