{% extends 'base.html' %}


{% block title %}
{{project.name}} - 
{% endblock %}

{% block content %}
<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2 class="text-primary fw-bold">Project Details</h2>
        <!-- <ol>
          <li><a href="{{url_for ('home')}}">Home</a></li>
          <li>Portfolio Details</li>
        </ol> -->
      </div>

    </div>
  </section><!-- End Breadcrumbs -->
<!-- ======= Project Detail Section ======= -->
  <section id="project-details" class="project-details">
    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-8">
          <!-- Back Button -->
          <a href="javascript:history.back()" class="btn btn-outline-secondary mb-3">
            <i class="bi bi-arrow-left"></i> Back
          </a>
          {%if project.mode =="offline"%}

            {%if project.multimedia_type =="video"%}
            <div class="gif-container text-center ">
              <h3 class="mb-5 mt-3 text-primary font-weight-bold">GIF Preview</h3>
              
              <img src="{{ project.multimedia_link }}" alt="{{ project.name }}" class="img-fluid rounded" style="box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.5), 0 3px 10px 0 rgba(0, 0, 0, 0.49);">
            </div>

            {%else%}
              <div class="project-details-slider swiper">
                <div class="swiper-wrapper align-items-center">

                  {% for img in project.multimedia_link %}
                    <div class="swiper-slide">
                      <img src="{{img}}" alt="{{project.name}}" class="img-fluid rounded">
                    </div>
                  {% endfor %}

                </div>
                <div class="swiper-pagination"></div>
              </div>
            {%endif%}
            {%else%}
              <div class="container mt-5 mb-5 text-center">
                <h1 class="text-center text-primary mb-5">Website Preview</h1>
                <!-- Down arrow and Click Here text -->
                <div class="text-center mt-3 text-dark">
                  
                  <p class="mt-2 fw-bold">
                    Click Below Frame
                  </p>
                  <i class="bi bi-arrow-down-circle-fill" style="font-size: 2rem;"></i>
                </div>
                <div class="position-relative ">
                  <!-- Iframe for the visual content with increased height -->
                  <iframe 
                    src="{{project.multimedia_link}}" 
                    title="Embedded Website Preview" 
                    frameborder="0" 
                    class="w-75 border border-2 border-dark" 
                    style="pointer-events: none; height: 350px;border-radius: 10px; overflow: hidden;">
                  </iframe>
                  
                  <!-- Transparent overlay for click redirection -->
                  <a 
                    href="{{project.multimedia_link}}" 
                    target="_blank" 
                    class="stretched-link">
                  </a>
                </div>
              </div>

          {%endif%}
          
        </div>

        <div class="col-lg-4">
          <div class="portfolio-info card shadow-sm p-4 mb-4 rounded">
            <h3 class="text-primary">Project information</h3>
            <ul class="list-unstyled">
              <li><strong>Project Name:</strong> <span class="text-muted">{{ project.name }}</span></li>
              <li><strong>Category:</strong> <span class="badge bg-secondary">{{ project_category }}</span></li>
            </ul>
          </div>
          <div class="portfolio-description card shadow-sm p-4 rounded">
            <h2 class="text-primary">Project Description</h2>
            <p class="text-muted" style="text-indent: 5px;">
              {{ project.description }}
            </p>
          </div>
          <br>
          <div class="highlight-section text-center p-3 bg-light rounded">
            <p class="mb-2 fw-bold">For more details about this project, visit the GitHub repository:</p>
            <div class="d-flex justify-content-center mb-2">
              <i class="bi bi-github fs-3"></i>
            </div>
            <a href="{{ project.link }}" target="_blank" class="btn btn-outline-primary mt-2">Project's GitHub URL</a>
          </div>
        </div>

      </div>
    </div>
  </section><!-- End Project Detail Section -->

</main>
{% endblock %}

